@-webkit-keyframes pulse {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    50% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    50% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.octocat {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 80px;
}

.octocat img {
    display: block;
    width: 100%;
}

.chevron::before {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    vertical-align: top;
    width: 20px;
}

/* this code affects how the animations are rendered on the browser */
.section {
    width: 100%;
    float: left;
    overflow: hidden;
}

.section-title {
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    font-weight: normal;
    padding: 30px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    clear: both;
}

.container {
    margin: 0 auto;
    -webkit-transform: translateZ(1000px);
    transform: translateZ(1000px);
}

.code {
    /* width: 40%; */
    clear: both;
    /* height: 200px;
    background: #FFF;
    border-radius: 2px; */
    margin: 10vh 0;
    padding: 10px;
}

.code pre, .code code {
    height: 100%;
    margin: 0;
}

.code code {}

.code--small code {}

.code--left {
    float: left;
}

.code--right {
    float: right;
}

.code--widest {
    width: 100%;
}

.code--wider code {

}

.code--wider code {
    width: 60%;
}

.code--center {
    text-align: center;
}

.section--more {
    color: #FFF;
    background: #0E0F34;
    padding: 20px 0 40px 0;
}
body {
    position:relative;
    z-index: -10;
}

.hero-img1 {
    /* background: linear-gradient(-45deg, #ffe088, #fdc966, #fdb147, #fe962a, #ff7810, #ff5300, #ff7810, #fe962a, #fdb147,#fdc966, #ffe088); */
    position: relative;
    z-index: -5;
    background: linear-gradient(-45deg,#9255f0, #db75b1, #f47787, #fe962a, #ff7810, #ff5300);
    /* -webkit-text-fill-color: transparent;   */
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    height: 100vh;
    width: 100vw;
    background-position: center;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navbar {
    
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.navbar-brand {
    display:inline-block;
    margin: auto;
    margin-left: 30px;
    color: white !important;
}

.navbar-picture {
    width:60px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 50%;
    display: inline;
}

.navbar-wrapper {
    width: 90vw;
    margin: auto;
    margin-top: 50px;
}

.navbar-name {
    margin-left: 10px;
    display: inline;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: lightgrey !important;

}

.navbar-brand:hover {
    color: lightgrey !important;
}

.navbar-toggler {
    margin-right: 30px;
}

@media (max-width: 990px) {
    .nav-item {
        margin-left: 10px;
    }
}

.intro {
    text-align: center;
    color:white !important;
    display:inline-block;
}

#intro-text {
    width: 50vw;
}

.mountain-container {
    position: absolute;
    z-index: -2;
    bottom: 0;
    width: 50vw;
}

.mountain-container img {
    position:absolute;
    width: 100%;
    bottom:0;
    margin-left:auto;
    margin-right:auto;
}

.sun-container img {
    display: inline-block;
    width: 100px;
    margin-left: 60vw;
}

.sun-container {
    margin-top: -100px;
}

@media (max-width: 1200px) {
    .mountain-container {
        width: 60vw;
    }
}

@media (max-width: 900px) {
    .mountain-container {
        width: 70vw;
    }
}

@media (max-width: 600px) {
    .mountain-container {
        width: 100vw;
    }
}

.scroll-prompt {
    position:absolute;
    bottom: 0;
    text-align:center;
    color: white !important;
    margin-top: -50px;
}

.chevron-down {
    fill: #FFF;
    margin: auto;
    width: 30px;
    height: 30px;
    animation: hover-me .5s infinite ease-in-out alternate; 
  }
  
  @keyframes hover-me {
    100% { transform: translate3d(0, 25px, 0); }
  }

.skillContainer {
    height: 70vh;
    background-color: #ddb061;
}

.icon {
    color: white;
}

.icon-name {
    color: white;
}
.aboutMeContainer {
    height: 90vh;
    background-color: #e2c591;
}

@media (max-width: 991px) {
    .aboutMeContainer {
        height: 110vh;
        background-color: #e2c591;
    }
    .skillContainer {
        height: 120vh;
        background-color: #ddb061;
    }
}

@media (max-width: 778px) {
    .skillContainer {
        height: 220vh;
        background-color: #ddb061;
    }
}
.section-title {
    margin:auto;

}

.carousel {
    max-width: 400px;
    border-style: solid;
    border-radius: 20px;
    border-color: lightgrey;
    border-width: 5px;
    background-color: lightgrey;
    margin: auto;
    margin-top: 20%;
}

@media (max-width: 991px) {
    .carousel {
        margin-top:30px;
    }
}

@media (max-width: 900px) {
    .carousel {
        margin-top:-60px;
    }
}
.carousel-image {
    max-width: 400px;
    max-height: 450px;
    border-radius: 20px;
    margin: auto;
}

.aboutMeTxt {
    color: white;
    margin: auto;
}

.wrapper {
    max-width: 90%;
}

.hero-img2 {
  position: relative;
  background-image: url("https://news.asu.edu/sites/default/files/ked_skysong_exterior_night.jpg");
  height: 100vh;
  /* Add code here! */
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  /* Ensure good background image formating */
  /* Begin Parallax effect! */
  background-attachment: fixed;
  color: white;
  text-align: center;
}

.hero-img2 h1 {
    padding-top:45vh;
}

.current-status {
    height: 35%;
    /* background: linear-gradient(-45deg, #ffe088, #fdc966, #fdb147, #fe962a, #ff7810, #ff5300, #ff7810, #fe962a, #fdb147,#fdc966, #ffe088);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    width: 100vw;
    background-position: center; */
    background-color: #e2c591;
    padding-bottom: 0;
}



.current-status p {
    color: white;
    margin-bottom: 0;
}


.current-status div {
    width: 90%;
    margin: auto;
    text-align: center;
}

.flag {
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
  max-height: 200px;
}

.countryDesc {
    color:white;
}

.skillsWrapper {
    color: white;
    margin:auto;
    width: 50%;
}

.prevExp {
    position: relative;
    background-image: url("https://4kwallpapers.com/images/wallpapers/grand-canyon-national-park-grand-canyon-village-arizona-1600x900-9015.jpg");
  height: 240vh;
  /* Add code here! */
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  /* Ensure good background image formating */
  /* Begin Parallax effect! */
  background-attachment: fixed;
  color: white;
  text-align: center;
    
}

@media (max-width: 900px) {
    .code {
        width: 100%;
        clear: both;
        /* height: 200px;
        background: #FFF;
        border-radius: 2px; */
        margin: 8vh 0 8vh;
        padding: 10px; }
        .code pre, .code code {
          height: 100%;
          margin: 0; }
         .code code { } 
        .code--small code { } 
        .code--left {
          
            text-align: center; }
        .code--right {
          
            text-align: center; }
        .code--widest {
          width: 100%; }
          .code--wider code { }
        .code--wider code {
            width: 100%;
        }
        .code--center {
            text-align: center;
        }
      
      .section--more {
        color: #FFF;
        background: #0E0F34;
        padding: 20px 0 40px 0; }
    
    .navbar-wrapper {
        width: 90%;
        margin: auto;
        margin-top: 50px;
    }
    .skillsWrapper {
        color: white;
        margin:auto;
        width:100%;
    }
}

@media (max-width:450px) {
  .flag {
    width: 95%;
}
}

.contactMeSection {
    height: 65vh;
    background-color: #ddb061;
}

.spacer {
    height: 10vh;
}

.thankyou {
    height: 50%;
    background-color: #d47331;
}

#footer {
    background-color: #e3d8b3;
    text-align:center;
    padding-top: 25px;
  }
  .bottomLinks {
   font-family: 'Quicksand', sans-serif;
   color: #e2c591;
   margin: 10px 20px;
   text-decoration: none;
   font-size: 20px;
  }

  .tag {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    color: #e2c591;
    padding-bottom: 30px;
    margin-bottom: 0;
  }